* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.6);
    padding: 20px 3%;
    height: 180px;
    transition: all 0s ease;
    z-index: 1000; /* Assicura che la navbar sia sopra tutto */

}

header img {
    width: 200px;
    transition: all 0s ease;
}

@media (min-width: 769px) {
    header.scrolled {
        height: 120px;
        padding: 10px 3%;
        background-color: rgba(30, 30, 30, 0.8);
    }

    header.scrolled .menu,
    header.scrolled a,
    header.scrolled button {
        color: white;
    }

    header.scrolled img {
        width: 150px;
        padding-left: 20px;
    }
}

header {
    background-color: rgba(30, 30, 30, 0.6);
    height: 180px; 
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    padding: 0 20px;
}

.menu li a {
    transition: all 0s ease;
}

.menu a:hover {
    color: lightgreen;
}

button {
    padding: 9px 25px;
    background: #007C80;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0s ease;
    color: white;
}

button:hover {
    color: #2AA876;
}


.mySlides img {
    width: 100%;
    height: auto;
}

.container {
    flex-direction: row;
    flex-grow: 1;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#news {
    height: 800px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 0;
}

.novita {
    width: 33.33%;
    height: 95%;
    background-color: white;
    margin-left: 10px;
}

.novita img {
    width: 100%;
    height: 90%;
}

/* Stile per il contenitore */
.container_prenota_campo {
    position: relative; /* Contenitore relativo per posizionare il pulsante in modo assoluto */
    display: inline-block; /* Adatta il contenitore alle dimensioni dell'immagine */
    width: 100%; /* Larghezza dell'immagine */
    height: auto; /* Altezza automatica per mantenere le proporzioni */
}

/* Stile per l'immagine */
.container_prenota_campo img {
    width: 100%; /* Larghezza dell'immagine */
    height: 400px; /* Altezza automatica per mantenere le proporzioni */
    object-fit: cover;
}

.container_prenota_campo .centered-button {
    position: absolute; /* Posizionamento assoluto rispetto al contenitore */
    top: 60%; /* Posizione verticale al 50% */
    left: 50%; /* Posizione orizzontale al 50% */
    transform: translate(-50%, -50%); /* Centra precisamente il pulsante */
    background-color: #4CAF50; /* Colore di sfondo */
    color: white; /* Colore del testo */
    padding: 15px 25px; /* Spaziatura interna */
    font-size: 2rem; /* Dimensione del testo */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}


.container_prenota_campo h2 {
    position: absolute;
    top: 40%; /* Posizione verticale al 50% */
    left: 50%; /* Posizione orizzontale al 50% */
    transform: translate(-50%, -50%); /* Centra precisamente il pulsante */
    color: white; /* Colore del testo */
    padding: 15px 25px; /* Spaziatura interna */
    font-size: 2rem; /* Dimensione del testo */
}

footer {
    margin-top: auto;
    display: block;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px 0;
    text-align: center;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-contact {
    margin-bottom: 20px;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

.footer-design {
    margin-top: 20px;
}

.footer-design a {
    color: white;
    text-decoration: none;
}

#contact-form-window {  
    margin-top: 180px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

#contact-form input, 
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#contact-form button[type="submit"] {
    border-radius: 30px;
    background-color: #28a745;
    color: white;
}



/* Media query per dispositivi con larghezza massima di 768px (tablet e mobile) */
@media (max-width: 768px) {
    body {
        background-color: rgba(30, 30, 30, 0.8);
        color: darkblue;
    }

    header {
        background-color: rgba(30, 30, 30, 0.8);
        position: relative; /* Rimuove la posizione fissa su dispositivi mobili */
        height: 180px; /* Mantieni l'altezza su mobile */
    }

    .container {
        width: 90%;
    }
}



.mobile-menu {
    display: none;
}

.menu,
a,
button {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}




/* Media query per dispositivi con larghezza massima di 480px (smartphone) */
@media (max-width: 480px) {
    body {
        background-color: rgba(30, 30, 30, 1);
        color: darkgreen;
        overflow-x: hidden;
    }

    .menu {
        display: none;
    }

    .menu li {
        padding: 8px 0;
    }

    .navbar {
        display: none;
    }

    .mobile-nav {
        display: block;
        background-color: #333;
        padding: 10px;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .bar {
        width: 100%;
        height: 4px;
        background-color: white;
    }

    .mobile-menu {
        list-style: none;
        display: none;
        padding: 0;
        margin: 0;
        background-color: #333;
        width: 100%;
        left: 0;
        max-height: 100vh;
        position: absolute;
        top: 180px;
    }

    header.scrolled .mobile-menu {
        top: 180px;
    }

    .mobile-menu li {
        border-top: 1px solid white;
    }

    .mobile-menu a {
        display: block;
        padding: 24px;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    #contact {
        display: none;
    }

    .container {
        width: 100%;
    }

    #news {
        height: 500px;
        display: none;
        flex-direction: row;
    }
    .novita {
    width: 100%;
    height: 50%;
    background-color: white;
    margin-left: 10px;
    }

    .novita img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    }

        /* Stile per il contenitore */
    .container_prenota_campo {
        position: relative; /* Contenitore relativo per posizionare il pulsante in modo assoluto */
        display: inline-block; /* Adatta il contenitore alle dimensioni dell'immagine */
        width: 100%; /* Larghezza dell'immagine */
        height: auto; /* Altezza automatica per mantenere le proporzioni */
    }

    /* Stile per l'immagine */
    .container_prenota_campo img {
        width: 100%; /* Larghezza dell'immagine */
        height: 200px; /* Altezza automatica per mantenere le proporzioni */
        object-fit: cover;
    }

    .container_prenota_campo .centered-button {
        position: absolute; /* Posizionamento assoluto rispetto al contenitore */
        top: 60%; /* Posizione verticale al 50% */
        left: 30%; /* Posizione orizzontale al 50% */
        transform: translate(-50%, -50%); /* Centra precisamente il pulsante */
        background-color: #4CAF50; /* Colore di sfondo */
        color: white; /* Colore del testo */
        padding: 15px 25px; /* Spaziatura interna */
        font-size: 1rem; /* Dimensione del testo */
        border: none; /* Rimuove il bordo */
        cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    }


    .container_prenota_campo h2 {
        position: absolute;
        top: 30%; /* Posizione verticale al 50% */
        left: 30%; /* Posizione orizzontale al 50% */
        transform: translate(-50%, -50%); /* Centra precisamente il pulsante */
        color: white; /* Colore del testo */
        padding: 15px 25px; /* Spaziatura interna */
        font-size: 1rem; /* Dimensione del testo */
    }

}

